table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 1px;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border: 1px solid #000000;
    border-right: 1px solid #000;
  }
  
  th {
    background-color: #f2f2f2;
    
  }
  
  td {
    border-right: 1px solid #000000;
  }

  #IDfield {
    width: 500px;
  }
  
